.checkoutProduct {
  display: flex;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__info > button {
  background-color: #fdbe03ee;
  border: 1px solid;
  margin-top: 10px;
  border-color: rgb(39, 39, 39);
}
